[2016-02-06 23:36] conklech opened #1 "Link to "Practical Probabilistic Programming with Monads""
The article on this library is "Practical Probabilistic Programming with Monads" by Ścibior, Ghahramani, and Gordon. Would a link in the readme be appropriate?

[2016-02-22 21:50] #1 closed, assigned to nobody

[2016-05-24 14:04] adscib opened #8 "User's guide"
We need a user's guide to show people how to use the library. I like the style used by [Hspec](http://hspec.github.io/).

Tentative table of contents:
1. MonadDist and MonadBayes type classes
2. How to write models
3. Existing inference algorithms
4. Inference by composition of monad transformers
5. How to write a new inference algorithm

[2016-05-24 14:06] adscib opened #9 "Continuous Integration"
We should deploy a CI system and I'm leaning towards [Travis](https://docs.travis-ci.com/user/languages/haskell). We should at least test GHC versions 7.10 and 8.0, building both with Stack and Cabal.

[2016-05-24 14:08] adscib opened #10 "Testing"
Our current approach to testing is rather ad-hoc. A more systematic one would be helpful, ideally including property-based testing. Then there's also the issue of testing stochastic programs. Any suggestions welcome.

[2016-05-24 14:10] adscib opened #11 "Remove T from transformer names"
We use the T postfix to indicate monad transformers used for inference, for example `WeightedT`. This is unnecessary, since we never apply those to `Identity`, so the names without T are available. We should rename `WeightedT` to `Weighted` and similarly for other transformers.

[2016-05-24 14:14] adscib opened #12 "Remove weights from Empirical"
Currently `Empirical` is a synonym for `Weighted ListT`, which means it's a collection of weighted samples. This is a bit misleading, since normally empirical distribution is an unweighted collection of samples. We should change `Empirical` to be a synonym for `ListT`, then the current implementation can be recovered as `Weighted Empirical`, which is both more modular and more intuitive.

[2016-05-24 14:19] adscib opened #13 "Replace categorical with discrete in Primitive"
Currently one constructor for `Primitive` is `Categorical :: [(a,LogFloat)] -> Primitive a` with arbitrary type `a`. This is a little inconvenient, and forces us to make certain restrictions on `a` which do not make sense in all contexts. It would make more sense to replace `Categorical` with `Discrete :: [LogFloat] -> Primitive Int` and then provide default implementation for `categorical` in ter

[2016-05-24 14:21] adscib opened #14 "Abstract LogFloat"
We are currently using `LogFloat` to represent probabilities. This is a sensible default, but may not always be the best choice. It would be better to parametrise the type classes `MonadDist` and `MonadBayes` by the type representing probability.

[2016-05-24 14:25] adscib opened #15 "Automatic MonadDist derivation"
We often provide `MonadDist` instances by lifting distributions from the transformed monad. Currently this is only done for `primitive`, which means that all the specialised implementations of distributions used by the transformed monad are lost. We should instead lift all of them from the transformed monad, bearing in mind that more distributions can be added to `MonadDist` in the future.

I'm no

[2016-05-24 14:30] adscib opened #16 "Applicative Do for improving efficiency"
GHC 8 introduces the [Applicative Do](https://ghc.haskell.org/trac/ghc/wiki/ApplicativeDo) extension, which can be used to desugar `do` notation to `Applicative` operations where possible.  The [paper](http://research.microsoft.com/en-us/um/people/simonpj/papers/list-comp/applicativedo.pdf) introducing it actually mentions specifically that `monad-bayes` could benefit from this extension. We shoul

[2016-05-24 14:39] adscib opened #17 "Abstract numerical types for distributions"
The distributions we use are currently fixed to use `Int` and `Double`. We should consider extending it to more abstract types, provided that it wouldn't cause too many problems.

[2016-05-24 14:45] adscib opened #18 "Automatic Differentiation for density gradient"
At the moment we can compute PDF for `Primitive` distributions, but not its gradient. Backward mode AD would allow us to efficiently compute gradients for advanced inference algorithms.

This is related to #14.

[2016-05-27 11:49] #11 closed, assigned to adscib

[2016-05-27 13:49] adscib opened #19 "Support for GHC 8"
We depend on [random-fu](https://github.com/mokus0/random-fu) which currently doesn't build with GHC 8.

[2016-05-27 14:34] adscib commented on #9
Travis is now enabled and set up using the [Stack guide](http://docs.haskellstack.org/en/stable/GUIDE/#travis-with-caching). monad-bayes builds only with GHC 7.10. Earlier versions suffer from Applicative/Monad incompatibility, and GHC 8 can not build random-fu #19. Builds using both Stack and Cabal are tested.

[2016-05-27 14:34] #9 closed, assigned to nobody

[2016-06-14 11:37] adscib commented on #12
`Empirical` is now a tagged synonym for `ListT` and `Population` is a tagged synonym for `Weighted Empirical`.

[2016-06-14 11:37] #12 closed, assigned to adscib

[2016-06-18 16:20] #13 closed, assigned to nobody

[2016-08-06 17:07] adscib commented on #17
I started addressing this issue in the `polymorphic` branch.

[2016-09-07 11:39] adscib commented on #14
We now have a `LogDomain` type that is similar to `LogFloat`, but works with any `Floating` type. Probability monads have custom types representing real numbers that are used to represent probabilities.

[2016-09-07 11:39] #14 closed, assigned to nobody

[2016-09-07 11:40] adscib commented on #17
`Double` was abstracted to `CustomReal`, I left `Int` as it is since I can't see why I would want to use anything else instead.

[2016-09-07 11:40] #17 closed, assigned to nobody

[2016-09-07 11:42] adscib commented on #18
AutoDiff is working now, see [here](https://github.com/adscib/monad-bayes/blob/master/test/TestGradient.hs) for an example.

[2016-09-07 11:42] #18 closed, assigned to nobody

[2016-09-07 15:16] adscib commented on #19
The problem solved itself and monad-bayes works with GHC 8 now.

[2016-09-07 15:16] #19 closed, assigned to nobody

[2016-09-16 12:17] phischu opened #26 "Alternative and MonadPlus instance for Dist"
If you have an [`Alternative`](https://hackage.haskell.org/package/base-4.9.0.0/docs/Control-Applicative.html#t:Alternative) instance for `Dist` your `condition` function would be [`guard`](https://hackage.haskell.org/package/base-4.9.0.0/docs/Control-Monad.html#v:guard).

[code]

Other distribution types might also allow an `Alternative` instance.

[2016-09-26 10:50] adscib commented on #26
Thanks for the suggestion. I think it does actually make sense for many other distribution types to be instances of `Alternative`.

[2016-12-02 10:20] idontgetoutmuch opened #27 "*** Exception: System.Random.MWC.Distributions.categorical: bad weights!"
[code]

[2016-12-02 10:42] idontgetoutmuch commented on #27
I have tried putting in trace statements but

[code]

gives

[code]

It's not clear to me what changes I would need to make to get `CustomReal m` to be showable.

It turns out this works

[code]

Some more `trace` statements later

[code]

[code]

So this is causing the NaNs but what is causing the Infinities?

[2016-12-03 16:53] adscib commented on #27
I've added some code to improve numerical stability, but I was unable to run your example - the transition model seems to be taking forever to execute.

[2016-12-04 09:38] idontgetoutmuch commented on #27
I haven't tried your changes yet but I did this

[code]

and got

[code]

So quite early on we are seeing a divide by zero. I am not convinced this is numerical stability. It could be we are asking the solver to do something daft. I am going to try your changes. If that doesn't work I will put in a simple Euler solver rather than use `gsl`. I don't believe my model is stiff so this should make lit

[2016-12-04 16:04] idontgetoutmuch commented on #27
This uses a simple Euler scheme to update the state so should (ahem) not take forever to execute. I still get a floating point exception even using the latest commit (divide by 0).

[code]

[2016-12-04 16:15] idontgetoutmuch commented on #27
I have narrowed down the error a bit

[code]

gives

[code]

Moving the `error` below `observe` gives

[code]

So now we know something is going wrong inside `observe`

[2016-12-05 11:12] idontgetoutmuch commented on #27
I have had a go at using `dwarf` and at using ` ghci -fexternal-interpreter -prof`. The former throws lots of errors and I haven't investigated; the latter would mean re-installing the world with profiling turned on. Possibly the cheapest way to debug this is to add `Show a` everywhere and put in more `trace` statements. What do you think?

[2016-12-05 14:12] adscib commented on #27
Looks like this is a problem with the model rather than inference. I made the following change:
[code]
and `mean` is showing up as `NaN`, because `p state` is negative.

[2016-12-05 16:21] idontgetoutmuch commented on #27
Thanks for this - I will investigate further. Intriguingly the model works in Stan and LibBI.

[2016-12-05 17:05] adscib commented on #27
Most likely I made a mistake translating the model. The first thing to
check would be the parametrisation of lognormal.

[2016-12-05 18:05] idontgetoutmuch commented on #27
I will take a look tomorrow - thanks.

[2016-12-06 08:10] adscib commented on #27
Turns out what I took for the solver running very slowly was a silly bug that caused an infinite loop when `NaN`s were added in `LogDomain`. This is fixed on master now. I can currently run the model without problems (after disabling floating point exceptions), but the mean of the observation model still comes up as `NaN` so that part still needs to be fixed to get any useful results.

[2016-12-06 10:28] idontgetoutmuch commented on #27
Great! This makes debugging the model problem much easier (I hope).

[2016-12-06 11:48] idontgetoutmuch commented on #27
I don't think it can be the model. I now have

[code]

and get

[code]

Notice it is the model that is being *passed* the `NaN`; it does not create it. So maybe `smc` is the culprit somehow?

I am happy to debug further (well happy is putting it a bit strongly) but I am at a bit of a loss on how to proceed. Would it be possible to add `Show` instances somehow in `monad-bayes`? At the moment, becau

[2016-12-06 15:36] adscib commented on #27
There's no way SMC is inserting the `NaN`s here, since it is fully polymorphic in the program's output type. Any value of state is ultimately sampled from the prior. However, SMC is interleaving execution of multiple instances of the program, so the old state you print does not match the new state. But I bet the very first `NaN` you see appears in the new state rather than old state.

For debuggin

[2016-12-06 15:53] idontgetoutmuch commented on #27
Ok I have implemented your first suggestion. I don't get `NaN`s in the state but I do in the likelihood(?).

[code]

[code]

I will investigate further.

[2016-12-06 16:38] adscib commented on #27
You don't get `NaN`s in the output, since the model outputs parameters. But
you should be getting them in the intermediate states, in particular in
`log (p state) ` used as a mean of the observation model.

[2016-12-06 17:40] idontgetoutmuch commented on #27
We had

[code]

It should have been

[code]

this gave the growth rate very large values which initially made the number of prey very large but then the model over-compensated making the number of prey negative leading to `NaN`s. Chains are now running 👍

[2016-12-06 18:48] #27 closed, assigned to nobody

[2017-03-17 04:23] currymj opened #32 "sampling from distributions over lazy lists?"
For educational purposes, I modified your HMM example to work as an even simpler Markov chain. I decided to really live the Haskell lifestyle and try to define a distribution over lazy infinite lists.

[code]

Ideally, I'd be able to, say `sampleIO $ fmap head (mmlazy start)` and get a sample of just the first state; likewise use `take`, etc.. In practice, although this typechecks, the computation

[2017-03-17 12:15] adscib commented on #32
Indeed, it is very tempting to sample infinite data structures. There are no fundamental reasons why you shouldn't do it, but there are certain technical challenges involved that made me decide not to support it in monad-bayes at this point.

The reason `sampleIO` isn't lazy is that it modifies a random number generator using the `IO` monad. Sampling a random variable changes the state of the RNG

[2017-03-17 12:20] currymj commented on #32
Thanks! This is a very helpful explanation.

[2017-04-02 07:57] #26 closed, assigned to nobody

[2017-11-09 06:18] reubenharry opened #40 "Examples for variational/hmc inference"
This library is really awesome, and I've been using it to implement some linguistic models recently (along the lines of http://gscontras.github.io/ESSLLI-2016/chapters/1-introduction.html). I'm having trouble getting the fancier inference methods to work (currently I'm just using enumerate and working with discrete variables), so was wondering if there were any simple examples of variational or hm

[2017-11-18 20:36] currymj opened #41 "Any way for outsiders to help?"
I've been following this library with interest for a while. Recently I've noticed that lots of changes are happening. Is there a big release coming up? Any help needed, e.g. around documentation, examples, or testing?

[2017-11-23 16:31] adscib commented on #40
Thanks for your feedback and great to hear you find the library useful! HMC and VI are a result of a somewhat experimental attempt to use automatic differentiation within monad-bayes but I found the resulting architecture to be too complicated so I'm not planning to maintain these algorithms in their current shape. Nonetheless, the implementations on `master` work so you should be able to use them

[2017-11-23 16:48] adscib commented on #41
Indeed, there's an official release coming up. It's almost ready, I just keep getting distracted with writing papers. It will be based on the content of the `simple` branch.

I could certainly use some help with writing examples. I was thinking of implementing a state-space model and running the inference algorithms available in`Control.Monad.Bayes.Inference` on it. A simple state-space model is a

[2017-11-27 03:32] reubenharry commented on #40
Awesome, thanks so much for the tips! I'll try out Control.Monad.Bayes.Traced.mh. I'm currently working in Edward (using HMC and VI), but this seems like a really elegant alternative. (you can see a simple model I wrote using monad-bayes at https://reubenharry.github.io/posts/bayesian-pragmatics.html if you're curious).

[2018-01-25 14:46] pengstrom commented on #41
Is there any performance or expressiveness difference between the `simple` and `master` branches?

[2018-02-07 04:55] tmcgilchrist commented on #41
@adscib do you have a sense of / timeline for when there might be an official release? And what sort of things you'd like finished before you are happy to do that release?

[2018-02-07 13:50] adscib commented on #41
@pengstrom expressiveness should be the same. `master` implements better inference algorithms so should be more performant although less usable.

[2018-02-07 13:52] adscib commented on #41
@tmcgilchrist I just need to write a few tests and add a user's guide. It should only be a few days of work, the only problem is to find those days. But thanks for expressing interest, that will help get it done more quickly.

[2018-02-07 21:03] tmcgilchrist commented on #41
Thanks for the update. If I am able to help in some way with getting it
released let me know. Happy to proof read or test out a users guide.

On Thu, 8 Feb 2018 at 12:54 am, Adam Scibior <notifications@github.com>
wrote:

[2018-08-23 12:59] vincent-hui opened #44 "Failed to load interface for ‘Control.Monad.Bayes.Simple’"
When I load models/Dice in ghci, I got the following error.
[code]
how to solve it?

Thank a lot.

[2018-08-24 14:02] vincent-hui commented on #44
I checked. Class.hs is missing on master branch. It exists on [kernel branch](https://github.com/adscib/monad-bayes/blob/kernel/src/Control/Monad/Bayes/Simple.hs)
Should I use it for master branch?
thank a lot

[2018-08-25 16:55] adscib commented on #44
The master branch recently received major changes and the Dice example wasn't updated. If you feel like it you can try to look at one of the working examples and try to fix the ones that aren't working. I think the HMM code should be working. Otherwise I'll fix the examples when I have a moment.

[2018-09-15 14:29] vincent-hui commented on #44
Hi @adscib ,

Would you mind telling me how to show the result of hmm?
when I run hmm in ghci, I get the following error messages
[code]
Thank a lot.

[2018-09-26 06:07] vincent-hui commented on #44
Hi @adscib ,

I fixed Dice model. Would you mind accepting [the pull request](https://github.com/adscib/monad-bayes/pull/46) ?

Thank a lot

[2018-09-26 16:47] #44 closed, assigned to nobody

[2018-09-27 15:37] vincent-hui opened #47 "Is it possible to implement Gaussian Processes based on monad-bayes?"
Is it possible to implement Gaussian Processes based on monad-bayes?
If yes, would you mind giving me some hints how to implement Gaussian Processes based on monad-bayes?

[2019-01-10 08:30] dschrempf opened #51 "Probabilities larger than 1.0?"
Hello!

I am trying to use your library but fail at a very simple example test. I would like to estimate the mean of a Gaussian from some sample data.

I create the data using this function:

    generateDataGaussian :: MonadSample m
          => Int  -- ^ Number of points
          -> m [Double] -- ^ List of latent and observable states from t=1
    generateDataGaussian n = replicateM n $ normal

[2019-01-16 17:27] massma commented on #51
Please keep in mind that I am not a statistician or a computer
scientist, and I am very new to Haskell so I am probably the least
qualified person to respond to you. However, maybe I can help you out
a little:

I am in the same boat as you trying to learn this package. I found that the [author's paper](http://mlg.eng.cam.ac.uk/adam/icfp2018.pdf)
is really helpful for learning what's going on and i

[2019-01-16 18:50] dschrempf commented on #51
Thanks a lot for your answer!

I am aware of the paper, and was trying to understand `benchmark/SSM.hs`.

Using the resample move sequential monte carlo seems to work better, thank you. Still, I am confused by the probabilities. Using your code, and getting rid of the (in this case useless) standard deviation, the first line providing output gives

[code]

Does this mean, that all the particles (w

[2019-01-16 22:00] massma commented on #51
Disclaimer: this is very far outside my very narrow understanding of the software :) .

But, I think your guess is right. I think the scores associated with the Trace output are thrown out (along with the trace itself) during the marginal transformation of RMSMC. I'm still trying to understand the plumbing (in addition to Haskell) and all of the design choices (in addition to approximate inference

[2019-03-08 09:43] ohad opened #52 "[feature request] Add progress bar capabilities?"
Could we please add a monad transformer that adds a progress bar capability to an inference algorithm?

E.g., every time smc takes a step, we can decrease a counter.

[2019-04-06 15:44] cfhammill commented on #10
For testing samplers the stan folks have this up on arxiv: https://arxiv.org/abs/1804.06788

[2019-05-20 22:33] MMesch commented on #51
Hi all,

I am also not hugely qualified to comment on this, but I played around with these examples as well. I also encountered weird behaviour for smcMultinomial with 0 timesteps and somewhat reasonable behavior for timestep 1. I started putting some examples with plots here: https://github.com/tweag/jupyterWith/blob/master/example/Haskell/bayesMonad/monad_bayes_intro.ipynb in case that you are i

[2019-07-07 20:49] bredelings commented on #32
Hi @adscib. I've been working on something that seems to intersect with your work here, and I'm curious if you have any thoughts on this.

I've been working on a similar paradigm to monad-bayes, and I ran into some of the problems that you mentioned above.  For example, if you make the monad interpreter lazy, then it may not ever evaluate the observation statements, since their result is never use

[2020-01-04 23:11] GuillaumeDesforges opened #57 "Publish to Hackage/Stackage"
Would it be possible to release on Hackage/Stackage ?
It would be way more convenient.

Thanks

[2020-01-10 23:42] adscib commented on #57
I looked into uploading to Hackage but was told the library is missing appropriate version bounds on dependencies. I don't have the time to deal with this right now but if there's a volunteer who'd be willing to sort out the right bounds and put them in the cabal file I can make a release as soon as it's done.

[2020-01-13 14:29] YPares commented on #57
@adscib Hackage only asks for boundaries on `base`, not on all deps normally

[2020-01-22 02:48] adscib commented on #57
This is what I was told.

does not currently have correct version bounds for some of its
dependencies. For instance:

[2020-02-14 12:57] curiousleo commented on #57
https://github.com/adscib/monad-bayes/pull/60 contains the version bounds necessary to publish `monad-bayes` to Hackage.

[2020-02-17 17:03] curiousleo commented on #57
`monad-bayes` v0.1 is now on Hackage: https://hackage.haskell.org/package/monad-bayes-0.1.0.0

[2020-02-18 08:55] curiousleo commented on #57
`monad-bayes` is now on Stackage: https://github.com/commercialhaskell/stackage/pull/5189

[2020-02-18 13:32] curiousleo opened #66 "Build with "-Werror" in CI"
https://github.com/tweag/monad-bayes/pull/63 introduced the `dev` flag for use in development and CI. Currently there are deprecation warnings that would make the build fail if we added `-Werror`. So let's fix those warnings and then set `-Werror` to make sure we don't regress.

- [ ] Get rid of all warnings
- [ ] Add the `-Werror` GHC flag if `dev` is set

[2020-02-18 13:46] curiousleo commented on #66
Related: https://github.com/tweag/monad-bayes/pull/63#pullrequestreview-360345213

[2020-02-19 15:54] curiousleo commented on #57
Done!

[2020-02-19 15:54] #57 closed, assigned to curiousleo

[2020-02-21 16:00] curiousleo opened #69 "Add instructions to use BuildKite's cache"
... to speed up the initial Nix build.

Follow-up to https://github.com/tweag/monad-bayes/pull/63
Related: https://nixos.org/nix/manual/#conf-substituters

[2020-02-24 13:10] curiousleo commented on #66
One set of warnings that should be easy to fix:

<pre>/home/leo/Code/monad-bayes/<b>models/HMM.hs:28:1: </b><font color="#75507B"><b>warning:</b></font><b> [</b><font color="#75507B"><b>-Wincomplete-patterns</b></font><b>]</b>
    Pattern match(es) are non-exhaustive
    In an equation for ‘trans’:
        Patterns not matched: p where p is not one of {2, 1, 0}
<font color="#3465A4"><b>   |</b></f

[2020-02-24 13:11] curiousleo commented on #66
The other set of warnings relates to the deprecation of `Control.Monad.Trans.List`, which is probably going to be more work than the above:

<pre>/home/leo/Code/monad-bayes/<b>src/Control/Monad/Bayes/Class.hs:65:1: </b><font color="#75507B"><b>warning:</b></font><b> [</b><font color="#75507B"><b>-Wdeprecations</b></font><b>]</b>
    Module ‘Control.Monad.Trans.List’ is deprecated:
      This trans

[2020-02-24 18:56] mrkkrp commented on #66
Can we just drop `ListT`?

[2020-02-25 08:46] curiousleo commented on #66
Could you explain what you mean by "drop" in this context? Literally deleting every occurrence of `ListT` is not going to compile :)

[2020-02-25 09:49] mrkkrp commented on #66
Remove support for the `ListT` monad transformer.

[2020-03-03 16:15] curiousleo opened #77 "Build benchmarks in CI"
Benchmarks are not currently built in CI, but they should be.

`ssm-bench` broke due to recent refactorings. This breakage was not caught in CI:
[code]

[2020-03-04 06:08] ocramz opened #80 "graphical rendering of Bayesian networks ?"
Would it be possible to render the "reified" network in graphviz or similar? I suspect that the current, Monad-based implementation is a fundamental limitation for this, but I cannot articulate why.

[2020-03-04 10:10] mrkkrp commented on #77
Related: https://github.com/input-output-hk/haskell.nix/issues/470.

[2020-03-04 13:19] curiousleo commented on #80
Hi @ocramz! That certainly sounds useful. I don't know if it is possible. The current focus of work in this repo is on making it easier to build and maintain over the long term, we're not adding features right now. However, you're very welcome to take a stab at this if you like.

[2020-03-04 14:03] #77 closed, assigned to mrkkrp

[2020-03-11 10:16] curiousleo opened #88 "CI does not run tests"
CI should run tests, but currently does not.

https://github.com/tweag/monad-bayes/pull/89 commits a broken test, but the "build and test" step passes: https://buildkite.com/tweag-1/monad-bayes/builds/88.

[2020-03-12 20:47] #88 closed, assigned to mrkkrp

[2020-03-12 20:47] curiousleo commented on #88
Fixed by https://github.com/tweag/monad-bayes/pull/91.

[2020-04-29 18:30] dschrempf opened #96 "Build with stack requires manual intervention"
Building with `stack` requires one of the folllowing commands:
[code]
I suggest mentioning this in the Readme.

[2020-04-30 07:14] curiousleo commented on #96
Good point, thanks! I've wanted to overhaul the "Installation" part of the Readme for a while.

The installation instructions stem from before the time `monad-bayes` was available on Hackage and Stackage.

Now that `monad-bayes` is on Hackage and Stackage, my thinking is that most _users_ will probably want to know how to add a dependency on `monad-bayes` to their own project, i.e. what to put in

[2020-05-02 15:54] mboes commented on #96
It would be fair to have a `stack.yaml`, i.e. a default Stack configuration file.

[2020-05-04 09:22] curiousleo commented on #96
I've created a symlink from `stack.yaml -> stack-ghc881.yaml` here: https://github.com/tweag/monad-bayes/pull/97/commits/1d88f78b1c006079246848f97ed5691d4a8bf778#diff-fafd0cdcd559a7b124cc61c29413fb54.

I've checked that this has the desired effect: `stack test` etc. works and uses the snapshot defined in `stack-ghc881.yaml`.

[2020-05-04 09:38] dschrempf opened #98 "Classical MCMC with Metropolis-Hasting proposals"
Hello,

I fail to implement a classical MCMC method with Metropolis-Hasting (MH) proposals. How can I define the proposal distribution conditioned on the current state? I looked at the code of the MH proposal, and it is hidden in the `Trace` data type. The acceptance ratio is computed using the likelihood ratio of the proposed vs. current state (and some correction factor which I do not understand

[2020-05-04 10:40] #96 closed, assigned to nobody

[2020-05-06 12:25] curiousleo commented on #98
@MMesch, would you mind taking a look?

[2020-05-07 09:30] simeoncarstens commented on #98
Details on the trace Metropolis-Hastings algorithm implemented in `monad-bayes` can be found in the following paper: https://dl.acm.org/doi/10.1145/3158148, more specifically, in section 7.
@MMesch and I will have a closer look at your questions.

[2020-05-07 10:16] dschrempf commented on #98
From what I can see after a brief look at the mentioned section: the proposal kernel maps from the trace to the new state, but I am not sure how to program this, since the trace has a random order. Also, in Metropolis-Hastings, the proposal usually only depends on the current state (Markov property). I still don't see how the proposal distribution is influencing the acceptance ratio. Thanks anyway

[2020-05-07 12:46] MMesch commented on #98
@dschrempf , I briefly looked into this as well last year. I remember that I also encountered this:

I might have time in 2 or 3 weeks to have a closer look. Meanwhile, let us know if you already have anything running or any other thoughts!

[2020-06-14 14:13] alessio-b-zak opened #104 "Confusion over the use of pmmh"
I am trying to implement a small discrete time SIR model as an HMM and fit this using `pmmh`.
I am not sure if I am using `monad-bayes` correctly and, if I am, I am unsure as to why the performance of `pmmh` on my model is so poor.

The type signature for `pmmh` returns as output `m [[(a, Log Double)]]` where `a` is the output of the model. My normal understanding of PMMH is that it returns sample

[2020-06-14 19:03] alessio-b-zak commented on #104
I fixed my performance issue by replacing `foldM_` with the direct recursion however now it appears that that the chains do not move about in the parameter space so I would be interested to know how to correctly construct a model `pmmh` can do inference with.

[2020-06-15 16:38] curiousleo commented on #104
Thanks for the report! I'm happy to see usage of `monad-bayes` out there.

Don't unwrap it! I'd much rather see this epidemic wrapped _up_!

`monad-bayes` has not received a lot of performance optimisation to date. I hope to be able to give you a more substantial answer over the next couple of days.

[2020-06-15 16:54] alessio-b-zak commented on #104
Thanks for the reply. I'm super keen to get to grips with the library and potentially contribute with some other approximate inference algorithms. As I previously said I've managed to increase the performance to make moderate sized inferences possible (1000 steps with 1000 particles) but the main issue I'm having is that my chains aren't converging to the parameters I believe they should be.

From

[2020-06-15 17:08] idontgetoutmuch commented on #104
This https://github.com/rossng/sir-monad/blob/master/src/Model.hs#L65 doesn't look right to me surely it should be positive as infected subjects are filling this compartment together with a component for the rate of recovery \gamma.

<img width="198" alt="image" src="https://user-images.githubusercontent.com/1550265/84686096-43912500-af33-11ea-83a8-da217cf4c5ea.png">

[2020-06-15 17:10] idontgetoutmuch commented on #104
If it were me I would look at the distributions of the particles for every MC proposal and check they were what I expected.

[2020-06-15 17:13] alessio-b-zak commented on #104
Ah i appear to have copied and pasted the code without changing the parameters! That should read `-gamma * dt`.  I don't think that would be the cause of the lack of convergence of the chains. Thank you for the suggestion. I will try to understand the source a bit more to see If I can extract that information.

Edit:
I have fixed the code and I still see a kind of stationarity to the chain. My int

[2020-06-15 17:23] idontgetoutmuch commented on #104
It's great you are doing this example - I am guessing the dataset is flu in the boarding school. You appear to be doing Euler with quite a coarse time step but I don't think this should be a problem. Let me know what results you get for each proposal. Perhaps we can plot the distributions somehow.

[2020-06-15 17:25] alessio-b-zak commented on #104
Yes I got rid of the time step just so I could debug performance problems earlier on. It is the boarding school influenza data indeed :). I will get back on this tomorrow and report back what I find! Thanks

[2020-06-16 15:20] idontgetoutmuch commented on #104
Ah I was wrong - you are not doing Euler but using the binomial to generate jumps according to the compartment model - it was after a glass of wine so I hope I may be forgiven.

I had another look and your prior for beta looks very low - I generated some fake data aka prior predictive checks and subjects were almost never getting infected. You have \Gamma(2,1) so the mode is 1.0 for your prior. II

[2020-06-16 15:23] idontgetoutmuch commented on #104
I can look again tomorrow afternoon. Perhaps you could post your working R and C++ code?

[2020-06-16 15:51] alessio-b-zak commented on #104
As far as I'm aware I'm using the same priors I did in my C++ implementation. I'll link it here. I think its more likely that I am incorrectly interpreting how to use `pmmh` and the `mh` functions as I've not  yet fully understood tracing or Trace MCMC - The C++ code that computes the particle filter is [here](https://github.com/alessio-b-zak/particle-filter/blob/parallel/ParticleFilter/src/parpp.

[2020-06-22 19:51] alessio-b-zak commented on #104
I've had a bit of time to examine this and I have the impression that the `pmmh` algorithm should instead be

[code]

i.e. returning the parameters at the end with the model looking like this

[code]

In this way the particle filter is run with the latent states as the individual particles. As evidence for this, running

[code]
with hardcoded parameter values (here being 2) produces the same value

[2020-06-24 13:13] curiousleo commented on #104
One thing I can add here is that both in [Functional Programming for Modular Bayesian Inference](https://dl.acm.org/doi/pdf/10.1145/3236778#%5B%7B%22num%22%3A235%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22Fit%22%7D%5D) and in [Formally justified and modular Bayesian inference for probabilistic programs](https://www.repository.cam.ac.uk/bitstream/handle/1810/295167/thesis.pdf?sequence=1&isAllowed=y#se

[2020-06-24 13:52] alessio-b-zak commented on #104
@curiousleo I am aware however I think that @adscib  comments within the paper add arguments in favour of this implementation. In section 4.2 of Functional Programming for Modular Bayesian Inference, the authors discuss altering their Gaussian random walk model to function with `pmmh` by extracting the prior sampling. They then discuss how the intention of `pmmh` is to perform inference over the p

[2020-06-24 17:35] alessio-b-zak commented on #104
Given what I said above I decided to try and create an [example](https://github.com/alessio-b-zak/pmmh-test) on the Gaussian Random walk from the paper, changing the inference model to the following

[code]

i.e. returning the parameters instead of the latent states. I then generated some data using some test parameters and ran the standard `pmmh` which managed to recover the parameters, unlike my

[2020-06-25 08:00] idontgetoutmuch commented on #104
@alessio-b-zak I am not convinced this is now using MCMC to estimate the parameters; rather it is using the particle filter. This is fine; I do it all the time myself (for modelling reasons).

I too have dug through the code to find out how the proposals are being made but I have no definitive answer as yet. In your original code I could see very big jumps suggesting that the proposals are too big

[2020-06-30 14:41] alessio-b-zak commented on #104
@idontgetoutmuch It looks like, with the trace MCMC algo described [here](https://web.stanford.edu/~ngoodman/papers/lightweight-mcmc-aistats2011.pdf), proposals in the `monad-bayes` code are made by just randomly selecting one of the random decisions made throughout the program and changing it, see [here](https://web.stanford.edu/~ngoodman/papers/lightweight-mcmc-aistats2011.pdf). I can see that t

[2020-06-30 15:38] curiousleo commented on #104
Allowing users to configure proposal distributions in a principled way is what Alex Lew did here:

- paper: https://dl.acm.org/doi/10.1145/3371087
- prototype: https://github.com/probcomp/haskell-trace-types

[2020-06-30 18:28] alessio-b-zak commented on #104
@curiousleo I have some time over summer so I will take some time to dig into this and attempt to implement it into `monad-bayes`

[2020-08-03 20:43] reubenharry opened #107 "Incorporating failure into enumerate leads to exception"
I wrote this code:

[code]

Running *out* causes:

*** Exception: Infinitely supported random variables not supported in Enumerator

But the RV would appear to be finitely supported, so I'm not sure what is going on

[2020-12-14 01:03] jamesthesnake opened #108 "Stack is not working on stack yaml"
**Describe the bug**
Stack build is getting 404ed(like Test and GHCI stack)
**To Reproduce**
run Stack build in folder
**Expected behavior**
Stack works
**Environment**
 - Ubuntu 18.04
 - just git cloned

**Additional context**
`james.hennessy@ASR-1335A-U:~/blog-resources/monad-bayes$ stack test
Downloading lts-15.6 build plan ...RedownloadFailed Request {
  host                 = "raw.githubuserc

[2020-12-14 01:42] jamesthesnake commented on #108
needed to restart the computer!

[2020-12-14 01:42] #108 closed, assigned to nobody

[2021-03-27 02:35] reubenharry commented on #107
OK, resolved. The definition of uniformD is in terms of categorical, which is in terms of bernoulli, which is in terms of random. For Enumerator, bernoulli has a non-default implementation, but in the lifted case, the default definition of bernoulli is used, which requires random.

[2021-03-27 02:35] #107 closed, assigned to nobody

[2021-04-21 12:13] ghost opened #109 "Monad-Coroutine break"
**Describe the bug**
Installation of the package fails from hackage, so does building from source. I received an error during building that said building monad-coroutine-0.9.1 failed with an error about MonadFail not being defined.

**To Reproduce**
Either running `cabal install monad-bayes` or building the source code should reproduce.

**Expected behavior**
Package to install without a problem.

[2021-04-22 08:08] curiousleo commented on #109
Thanks for the report!

I can't repro that failure with GHC 8.10. On tag `0.1.1.0` with this patch:

[code]

and

[code]

I get:

[code]

I'm going to update our build matrix to include GHC 8.10 and with the necessary version bound changes over the coming week or so. But that is just prompted by your report, it doesn't really address it.

I can try repro'ing with an older GHC version if you let me

[2021-05-11 16:28] ghost commented on #109
@curiousleo The version I am using is GHC 8.6.5 and cabal 2.4.0.0. Perhaps these tools are too old for some new feature used in the newer build of ``monad-coroutine``? For more clarity, here is the error I receive while building

[code]

[2021-05-14 14:24] curiousleo commented on #109
@AlricRahl that sounds likely -- are you able to try this with a newer GHC version? Since the failure is clearly in the `monad-coroutine` build, I'm not going to look into this too deeply right now.

[2021-05-17 10:49] idontgetoutmuch opened #113 "Towards monad-bayes 1.0"
Notes from monad-bayes discussion

Date: [2021-05-17 Mon]

Those present: @idontgetoutmuch (Dominic Steinitz), @MMesch (Matthias Meschede)

monad-bayes contains two distinct elements:
1.	A method of generating random values according to given probability distributions and then being able to combine these together via a monad. It does this by using a free monad (in fact the Church encoding of such

[2021-05-24 15:22] idontgetoutmuch commented on #113
I am not sure how sustainable the current `MonadSample` class is. For an example I am working on, I have had to add a new method `mvnormal`. With `random-fu` I can add a new instance of `Distribution` in a separate package without any impact on `random-fu`. With my example, `monad-bayes` now depends on `hmatrix` which depends on `BLAS` and `LAPACK`. This could easily create build problems especial

[2021-05-27 08:49] idontgetoutmuch commented on #113
I came up with this but the more I think about, the more I think with random-1.2 we don't need any of it but can build distributions just on top of it directly.

[code]

[2021-06-02 12:26] idontgetoutmuch commented on #113
So here's my latest thinking - no free monads in sight and no extensions to a typeclass required for each distribution. The key is this

[code]

And here's an example of the univariate normal distribution.

[code]

[2021-11-14 13:54] idontgetoutmuch opened #115 "hident dependency is broken"
**Describe the bug**

[code]

**To Reproduce**
`nix-shell`

**Expected behavior**
I should get a nix shell.

**Environment**
 - OS name + version: macOS 11.5.1
 - Version of the code:

**Additional context**
Add any other context about the problem here.

[2021-11-15 12:08] idontgetoutmuch opened #116 "Benchmarks fail"
**Describe the bug**
[code]

**To Reproduce**
`cabal bench speed-bench`

**Expected behavior**
I should get some performance statistics

**Environment**
 - OS name + version: macOS 11.5.1
 - Version of the code: `642ab71 (HEAD -> master, origin/master, origin/HEAD, idontgetoutmuch/master) (build) update haskell.nix, use NixOS 20.09 channel (#110)`

[2021-11-15 12:13] idontgetoutmuch commented on #116
It might be a ghc bug https://gitlab.haskell.org/ghc/ghc/-/merge_requests/4022

[2021-11-15 13:48] curiousleo commented on #115
Thanks for the report @idontgetoutmuch! Unfortunately I'm unable to reproduce this right now because hydro.iohk.io is down:

[code]

I will try again.

[2021-11-15 16:16] curiousleo commented on #116
@idontgetoutmuch Is this fixed by https://github.com/tweag/monad-bayes/pull/117?

[2021-11-15 16:47] idontgetoutmuch commented on #116
Yes so closing

[2021-11-15 16:47] #116 closed, assigned to nobody

[2021-12-01 13:45] GeorgeCo opened #119 "doesn't install with ghc 9.0.1"
**Describe the bug**
doesn't install with ghc 9.0.1

**To Reproduce**
[code]

**Expected behavior**
Expect it to install

**Environment**
 - Version of the code: monad-bayes-0.1.1.0

**Additional context**
Installs with --allow-new

[2021-12-26 10:34] idontgetoutmuch opened #120 "Place Holder for the Fellowship Work"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-12-26 10:34] idontgetoutmuch commented on #120
I've been looking through some of the branches on monad-bayes on Github (including your integration of Random-fu and multivariate normals), and I noticed that Adam had written a Random-fu sampler in this branch: https://github.com/tweag/monad-bayes/blob/kernel/src/Control/Monad/Bayes/Experimental/RandomFu.hs

I wasn't sure if you were aware of this, so I thought it was maybe worth mentioning. I do

[2021-12-26 10:35] idontgetoutmuch commented on #120
It does look somewhat similar and no I wasn’t aware of it. System.Random has changed quite a bit since then so I don’t know how much is now transferable.

https://github.com/tweag/monad-bayes/pull/112/files

One thing that we should do is make this independent of the RNG so that the user can choose: the standard RNG, MWC, Mersenne Twister or some else. Also we really need to do performance measure

[2022-01-06 20:20] rihardsk opened #121 "Weird sampling outputs on a toy example"
To try out the library, i implemented the [Monty Hall problem](https://en.wikipedia.org/wiki/Monty_Hall_problem). My intention is to infer the possible states of the unobserved rooms, given some observations, e.g., given that the guest chooses room A and Monty chooses room B, what are the probabilities for the prize location. Using `monad-bayes` (maybe naively) for this somehow gives wrong results

[2022-01-17 08:27] rihardsk commented on #121
Bump. Any ideas on what might be going wrong here would be greatly appreciated.

[2022-01-17 09:13] idontgetoutmuch commented on #121
@rihardsk I won't be able to look at this until later this week. Apologies but I am not clear what you are trying to do. My recollection of Monty Hall would be something like guest chooses A, Host chooses B and then the prior distribution of 1/3, 1/3, 1/3 should become 1/3, 0, 2/3. Are you trying to do this via simulation? In which case, I don't know what Metropolis-Hastings (`mh`) is doing here.

[2022-01-17 13:23] idontgetoutmuch commented on #121
Perhaps you are trying to do this?

[code]

[2022-01-17 16:04] rihardsk commented on #121
@idontgetoutmuch thank you for the example. I think your approach corresponds to a simulation of the game, but i wanted it to be more general. I want to model the joint posterior distribution of game state given some arbitrary observations – `P(GuestInitialDoor, PrizeDoor, HostDoor | observations)`. The observations could be "Guest initially chooses A; Host chooses B" and I want to arrive to a joi

[2022-02-08 20:18] reubenharry commented on #121
I'll try to look at this more closely this week, but my guess is that the model has a bug, not the MH. My general advice for debugging probabilistic programs is to write a small enough version that you can use `enumerate` and convince yourself that gives the correct answer. Re Bayes nets, I think they should be straightforward to implement, since probabilistic programs are really just an extension

[2022-02-09 22:53] reubenharry commented on #121
OK, so if you run with `enumerate`, as in:

[code]

you get:

[code]

This suggests that the model is fine. So I think the issue is with the MH inference. In the cases where you get results which are wrong, what is happening is that the chain initiates with a 0 probability guess and then rejects every subsequent proposal. We should probably add code to handle this case with an exception rather tha

[2022-02-09 22:59] reubenharry commented on #121
Re Bayes nets, they are definitely straightforward to express in monad-bayes, but the question is what inference method you would want. My understanding is that the nice thing about graphical models is that you can have inference methods which take advantage of the conditional independency structure given by the graph, and monad-bayes doesn't *yet* have capabilities to do this.

[2022-02-10 18:00] rihardsk commented on #121
Thank you for looking into this!

I expected a different output for "Prize location frequency":
[code]
which would correspond to what you got with `enumerate`. Or is your implementation of `mhTrans` meant to do something different?

Is this something that's on the roadmap for `monad-bayes`? I've seen that the `Pyro` framework in Python uses "plate" definitions for conditional independence and i wa

[2022-02-10 22:58] reubenharry commented on #121
Yeah, this is because the proposal I used just resamples the entire trace randomly at each step in the chain. This makes the MCMC totally inefficient, and 5000 steps isn't enough to converge. The broader issue is that you want to be able to specify a sensible proposal - something like: with some probability mutate each of the three variables to the others.  If you look at a PPL like Gen, that's st

[2022-03-14 23:52] reubenharry commented on #80
@ocramz Note that a probabilistic program need not be a (finite) graph. There isn't currently a static way to restrict to probabilistic programs which are finite acyclic graphs (i.e. Bayes nets). That said, I could probably write a function to display an execution trace of a probabilistic program as a graph, using e.g. diagrams/graphviz, which I think would be a nice tool. In the case of probabili

[2022-03-14 23:57] reubenharry commented on #98
@dschrempf Belatedly answering this: the MCMC implemented in monad-bayes is a version which is totally agnostic to the probabilistic program in question. That is to say, no matter what probabilistic program you write, you can run a correct-by-design MCMC walk on it. This generality means that the MCMC implementation is quite inflexible: you don't get to decide the nature of the proposal.

What you

[2022-03-15 00:08] reubenharry opened #124 "Trace MCMC with proposals"
To make trace MCMC actually useful for real-world problems, you really want to be able to design your own traces in a natural way. This is currently hard, because a trace is a list of `Double`s, which is not a very interpretable thing. Gen (another probabilistic programming language) has a nice way of doing things, where you name variables in your trace and then pass a "trace map" to your MCMC alg

[2022-03-15 00:12] reubenharry opened #125 "Example Gallery"
Monad-bayes currently has examples, in the `models` folder, but a large subset don't compile with the current code version. And for the ones that do, it would be nice if it was *much* clearer how to run them. Ideally we'd have runnable examples that produced pretty visualizations for a core set of models.

There's also benchmarking code, and it would be nice if it came with some discussion of the

[2022-03-15 00:22] reubenharry opened #126 "Variational Inference"
Most of the more popular probabilistic programming languages have implementations of variational inference (VI). As such, it's absence in monad-bayes is something of an obstacle to real-world use.

A fast variational inference implementation needs (to my current understanding) a faster autodiff library than `ad`, which is the most currently accessible Haskell one. There seems to be some work in th

[2022-03-15 00:26] reubenharry opened #127 "Updated docs"
- [x] documentation (of which a draft is https://monad-bayes.netlify.app/)
- [x] a tutorial, in notebook form, covering independent sampling, MCMC, particle filters, rmsmc, pmmh, smc2 (https://probmods.org/ is an excellent example of how to do this well (in that case the focus is on using probabilistic programming to model cognition) )
- [x] update the haddock docs with more comments (e.g. differe

[2022-03-15 13:23] idontgetoutmuch commented on #127
This is great - I am writing up an example of PMMH independent of monad-bayes - I've put notes in pdf form here:

[odeModelExpanded.pdf](https://github.com/tweag/monad-bayes/files/8253569/odeModelExpanded.pdf)

The code is here:

1. https://github.com/idontgetoutmuch/abm-particle-filter/blob/mathematical-exposition/src/Data/PMMH.hs#L42
2. https://github.com/idontgetoutmuch/abm-particle-filter/blob

[2022-03-15 13:50] MMesch commented on #127
This looks great. Looking forward to the PR. I can iterate through it.

[2022-03-15 20:36] reubenharry commented on #127
Thanks for those notes! One of the more time-intensive parts of the docs that I haven't yet done is to have a worked through example of PMMH, so I may use your notes as reference material for writing that.

[2022-03-16 11:55] idontgetoutmuch commented on #127
@reubenharry I don't know how much mathematical detail you want to put in the docs. I think the Stan documentation is great but even that does not try to explain Hamiltonian Monte Carlo. Ah but it does here: https://mc-stan.org/docs/2_29/reference-manual/hamiltonian-monte-carlo.html although not particularly rigorously or in great detail. Anyway I am nowhere near finished explaining HMC let alone

[2022-03-16 17:15] idontgetoutmuch commented on #120
I just discovered that you can pass a resampler as an argument to the sequential Monte Carlo function: https://monad-bayes.netlify.app/usage.html#sequential-monte-carlo - cool.

[2022-03-16 17:16] idontgetoutmuch commented on #120
Here's a stratified resampler that presumably needs modifying to pass to the sequential Monte Carlo function:

[code]

[2022-03-21 03:51] reubenharry commented on #120
Yeah, the modification needed would presumably be to make the type more generic. The resamplers that SMC can take, as the type shows, have to be `(forall x. Population m x -> Population m x)` i.e. to be agnostic as to the type of `x` (or actually if you look at the internals, any `(forall x.  m x -> m x)` will do). Unclear to me as yet how to modify the above, since it seems to involve doing somet

[2022-03-21 03:53] reubenharry commented on #120
I might need a pointer to good materials on random samplers, as I don't know too much about how they work and why some are better than others.

Re. making the RNG independent, perhaps I can add a reader layer to the Sampler monad, so that it gets an RNG that the user can then supply at their choice. Will all RNGs have the same type?

[2022-03-23 01:23] reubenharry commented on #127
I'm definitely very in favour of mathematical detail as long as it's presented in a way that doesn't obscure the high level picture. My thinking (somewhat influenced by https://documentation.divio.com/) was that we could divide the various documentation-like things into:

- examples of uses (presented in jupyter notebook form - I'm starting to work on this, building on what Matthias has done so fa

[2022-03-23 01:27] reubenharry commented on #126
After some research, here are resources I'm finding useful:

(1) Automatic Differentiation Variational Inference: https://arxiv.org/pdf/1603.00788.pdf
(2) Black Box Variational Inference: https://arxiv.org/pdf/1401.0118.pdf

These would appear to be two of the main ways to get variational inference into probabilistic programs in an automatic way.

I also note that the autodiff branch of monad-baye

[2022-03-23 01:34] reubenharry commented on #47
Belatedly: this paper has an implementation of Gaussian processes not in monad-bayes, but in a related Haskell probabilistic programming language: https://openreview.net/forum?id=yHox9OyegeX. I'll leave this issue open, as it would be nice, eventually, to incorporate the lazy sampler from LazyPPL into monad-bayes, and define gaussian processes etc.

[2022-03-23 01:35] reubenharry commented on #8
Closing this as it's subsumed by other issues about documentation. Current draft of new docs at: https://monad-bayes.netlify.app/

[2022-03-23 01:35] #8 closed, assigned to nobody

[2022-03-23 01:35] reubenharry commented on #15
Closing as this issue no longer aligns with the code architecture.

[2022-03-23 01:35] #15 closed, assigned to nobody

[2022-03-23 01:39] #40 closed, assigned to nobody

[2022-03-29 02:37] reubenharry opened #129 "Warnings and error messages"
A big part of making monad-bayes usable is to have warnings and error messages that guide users. Issue #121 is a good example: the MCMC chain was never accepting proposals, and it would have been much easier to debug if there had been a warning message like "MCMC chain fails n% of the time. This suggests that the proposal needs improvement."

Other warnings and errors:
- if initial sample in MCMC

[2022-03-29 09:42] idontgetoutmuch commented on #120
I think you can use https://github.com/tweag/monad-bayes/blob/master/src/Control/Monad/Bayes/Population.hs#L76 but it's not exported. Let me try exporting it and then using my stratified resample and compare the results.

[2022-03-29 14:01] idontgetoutmuch commented on #120
If I export this function then this seems to work (it probably should have more tests before I submit it as a PR):

[code]

[2022-03-29 15:37] idontgetoutmuch commented on #120
A useful reference for resampling methods https://bisite.usal.es/archivos/resampling_methods_for_particle_filtering_classification_implementation_and_strategies.pdf

[2022-03-30 23:01] reubenharry opened #130 "Investigate message passing algorithms"
monad-bayes doesn't currently implement anything like belief propagation. I saw https://arxiv.org/pdf/2112.13251.pdf recently, and since Haskell has some nice avenues for functional reactive programming, I would at least like to spend some time thinking about what a message passing implementation would look like.

[2022-03-30 23:39] reubenharry commented on #129
After a little thought and hacking, I think there should be functions like `runMH`, that act as friendly wrappers around core inference methods like `mh`. These would run the algorithm, displaying nice command line info perhaps using [brick](https://hackage.haskell.org/package/brick) and offer helpful warnings and error messages. I'll start out with ones for rejection sampling and mh.

[2022-04-08 02:01] reubenharry commented on #52
Subsumed by #129

[2022-04-08 02:02] #52 closed, assigned to nobody

[2022-04-08 02:10] reubenharry commented on #16
Interesting to think about where this would be useful, practically speaking. https://jtobin.io/encoding-independence-statically seems relevant. We could have a version of Traced with  a free applicative, and use the static knowledge of independence to improve inference. Details as yet unclear to me, but for a concrete example:

[code]

In `ex`, we want a trace that knows that `x` and `y` can be ch

[2022-04-08 09:11] idontgetoutmuch commented on #129
@reubenharry one of my colleagues @UnkindPartition used https://hackage.haskell.org/package/katip-0.8.7.0 and I am also using it in my blog post on SMC. I didn't research alternatives but AFAICT you can log things at varying levels of detail. I don't know what it means for performance though. I hoping it has minimal impact as it is being used for an ODE solver where you really do want performance

[2022-04-08 16:01] reubenharry opened #131 "Error in benchmark"
On running `stack bench`:

[code]

[2022-04-08 16:05] #131 closed, assigned to nobody

[2022-04-25 20:40] reubenharry opened #134 "Unable to get analytic result to match sampler"
models/Gamma.hs contains an old example of a Gamma prior on the precision of a normal, which I am updating. The code contains both a probabilistic program defining the conjugate prior, and an analytic version. I can't get them to agree, which is concerning, and suggests (hopefully) a bug in my code or (worse) a bug in one of the samplers. Here's the code to replicate the problem:

[code]

[2022-04-25 21:33] #109 closed, assigned to nobody

[2022-04-28 17:57] reubenharry commented on #134
There was a bug in the analytic calculation in monad-bayes, which I'll fix. `gamma` is parametrized by $\theta$ which is $1/b$. No bug in the inference code.

[2022-04-28 17:58] #134 closed, assigned to nobody

[2022-05-25 00:16] reubenharry opened #143 "Fixing the badges"
The badges on the front page say things like the build is failing, which makes the repo look broken (which it isn't).

[2022-05-27 17:45] reubenharry commented on #119
Now upgraded to 9.2, so I'll close this

[2022-05-27 17:45] #119 closed, assigned to nobody

[2022-05-31 17:33] #51 closed, assigned to nobody

[2022-05-31 19:57] dschrempf commented on #51
Hi! Could you please comment how this was solved or if not, why it is not an issue? Thank you!

[2022-06-06 17:16] reubenharry opened #144 "Hamiltonian Monte Carlo"
Hamiltonian Monte Carlo (HMC) is a widely used, gradient based, MCMC algorithm, that is the backbone of Stan's inference. I plan to implement it for monad-bayes. Todos (checkboxes indicate things done on branch):

- [x] a means of converting a probabilistic program into a function `f :: Floating n => [n] -> n` (**Or**: can I use Numeric.AD.Double?)
- [ ] refactor of monad-bayes to move from the co

[2022-06-06 17:45] adamConnerSax commented on #144
Hi! I've been watching all this progress on monad-bayes with great interest!  I use Stan a lot, using Haskell to manage the data and write the Stan code and then hs-cmdstan and CmdStan to run the models and then Haskell again to process and analyze the results.
Right now the Stan code generation is...not pretty. But I'm working on a rewrite using a typed expression tree and type-level tracking of

[2022-06-06 17:54] idontgetoutmuch commented on #144
@adamConnerSax I guess you know about this? http://www.cs.nott.ac.uk/~psznhn/Publications/stancon2018.pdf

[2022-06-06 18:42] adamConnerSax commented on #144
I hadn't! Nice. Is that work ongoing?

I agree with the paper that keeping the post-processing bits and the model in sync can be tricky, but if you want to utilize the actual structure of the posterior you need to have Stan do it's "generated quantities" thing (or do something similar yourself with the output of each draw).  I just generate many Stan files with various generated quantities blocks

[2022-06-15 14:41] idontgetoutmuch opened #146 "remove unused functions in `Weighted` and `Population`"
**Is your feature request related to a problem? Please describe.**
What did these do?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature

[2022-06-15 15:06] idontgetoutmuch opened #147 "Test for 3 versions of ghc"
**Describe the bug**
At the moment we are (or we will be) testing against 9.2.2. We probably ought to test for 3 versions.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment**
 - OS name + version:
 - Version of the code:

**Additional context**
Add any other context about the problem here.

[2022-06-27 14:20] reubenharry commented on #144
Hi! Sorry for the slow response. Yes, it sounds interesting to compile monad-bayes into Stan. I can imagine that taking the Free monad representation of a probabilistic program and writing it as Stan might actually be possible. Happy to chat more about that. The HMC in monad-bayes is going to be a reference implementation (i.e. much slower than Stan, most likely), at least until Haskell has a bett

[2022-06-27 14:30] reubenharry opened #151 "Marginalization of discrete variables"
It occurs to me that we may be able to do something quite nice to marginalize out discrete variables. The use case is something like HMC, where you have a model like:

[code]

To run HMC, you want to take `example` and produce a differentiable function `[Real] -> Real`, which takes a series of random choices and outputs a density. But the step function inherent in `bernoulli` makes this awkward, s

[2022-06-27 17:46] adamConnerSax commented on #144
No worries about the time!  This is all on my slow track anyway.

The code I pointed you to is my newer version of an old thing which is much less strongly typed but is operational.  I'm a couple weeks away (slow-track!) from the new version taking over from the old.

Then I'd need to do a lot of cleanup in the part that handles running via cmdstan. The new part is just building the Stan code from

[2022-06-28 14:33] reubenharry commented on #144
Sounds great! Feel free to ask questions if at any point (once you come up for air) you're wanting to understand monad-bayes better. Also check out https://monad-bayes.netlify.app/ , which goes through the API and implementation of monad-bayes fairly extensively.

One thing I'm keen to try with monad-bayes is to actually write some non-trivial models with real world data and see where the speed bo

[2022-07-01 17:22] idontgetoutmuch opened #152 "Linear Regression Accuracy"
[code]

gives

[code]

which is good but not great as with gradient descent

[code]

we get

[code]

[2022-07-01 17:29] idontgetoutmuch commented on #152
I think the problem is the prior. If I use

[code]

then

[code]

[2022-07-18 13:21] ohad commented on #104
Hey everyone --- just into this with @min-nguyen: where does this stand at the moment?

[2022-07-19 06:39] idontgetoutmuch commented on #104
I will take a look - I have a stand alone PMMH implementation in Haskell which I can benchmark against.

[2022-07-19 09:20] idontgetoutmuch commented on #104
I have given this a bit of thought while shaving and one of the problems (already noted above) is that `monad-bayes` does not allow you to control the proposals - basically (@reubenharry please correct me) it takes a random path through the program (for some reason the PPL community calls these traces), picks a random point on the path and picks a value in [0, 1] and then replaces the whatever was

[2022-07-19 09:38] min-nguyen commented on #104
This is interesting to know, thanks. The reason this came up in conversation was because I noticed `mh` performed quite fine for a very simple Hidden Markov Model, but then became extremely slow (i think this situation is mainly numeric efficiency rather than statistical efficiency) for the SIR model which is just implemented as a slightly more sophisticated HMM. There are of course lots of factor

[2022-07-19 09:43] idontgetoutmuch commented on #104
FYI: we have an intern starting in December to look at using monad-bayes for agent-based models.

[2022-07-19 17:53] #152 closed, assigned to nobody

[2022-07-19 17:53] #146 closed, assigned to nobody

[2022-07-19 17:54] reubenharry commented on #143
Removed them, which for me counts as a solution

[2022-07-26 22:45] reubenharry commented on #104
Yeah, as @idontgetoutmuch says, the proposal to jump from one trace to the next isn't customizable atm. It's not hard to make it so, and even to make random choices nameable so you can write a proposal in a nice lensy way by picking certain named choices to change, but you'd need to supply q(oldtrace|newtrace) and q(newtrace|oldtrace) yourself, which seems unergonomic. My plan was to copy what [Ge

[2022-07-27 07:40] idontgetoutmuch commented on #104
FYI I am reading Trace Types and Denotational Semantics for Sound Programmable Inference in Probabilistic Languages: https://dl.acm.org/doi/pdf/10.1145/3371087 but my current thinking is we should go for an HMC black box approach as that seems to have been very successful for Stan. I am interested to see @reubenharry's Gen-like approach though.

[2022-07-28 14:39] #113 closed, assigned to idontgetoutmuch

[2022-08-07 09:06] ocramz opened #164 "Source of Parsing notebook?"
**Is your feature request related to a problem? Please describe.**
I cannot seem to find the notebook that renders into Parsing.html . Could you add it to the repository please?

[2022-08-07 21:10] reubenharry commented on #164
Ah, you should be able to find it on branch: https://github.com/tweag/monad-bayes/tree/notebooks/notebooks/examples . The draft website is a little ahead of the main branch, as I'm waiting on some reviews before merging stuff.

I think there's probably some really interesting things involving probabilistic parser combinators, but I don't know that what I did in the notebook necessarily makes sense

[2022-08-09 11:28] idontgetoutmuch commented on #147
We are not going to do this.

[2022-08-09 11:28] #147 closed, assigned to nobody

[2022-08-09 11:29] idontgetoutmuch commented on #115
Can no longer reproduce.

[2022-08-09 11:29] #115 closed, assigned to nobody

[2022-08-09 11:30] idontgetoutmuch commented on #41
This seems stale but feel free to re-open.

[2022-08-09 11:30] #41 closed, assigned to nobody

[2022-08-09 11:31] idontgetoutmuch opened #165 "Create a nix flake that supports both the package and the associated notebooks"
Currently we have two nix flakes: one to build and test the library and one for running the Jupiter notebooks. Switching between these e.g. by changing branches or updating the flakes is a pain.

We'd like just one flake that provides a dev environment, allows us to to all the checks locally that get run via CI and also be able to run the notebook examples.

The alternative is stay with the manual

[2022-08-09 11:32] idontgetoutmuch opened #166 "Provide Example of Symplectic Integrator"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-09 14:54] #164 closed, assigned to nobody

[2022-08-09 16:57] #120 closed, assigned to nobody

[2022-08-09 17:28] #143 closed, assigned to nobody

[2022-08-09 17:52] reubenharry commented on #125
I've now added a variety of these to the notebooks in monad-bayes.

I'd still like to make an example using a hylomorphism or just an unfold from recursion-schemes, perhaps with the lazy sampler.

[2022-08-09 17:53] #69 closed, assigned to nobody

[2022-08-09 17:54] #10 closed, assigned to nobody

[2022-08-09 17:55] reubenharry commented on #32
LazyPPL has a lazy sampling monad. As discussed above, this interacts with the monad-bayes transformer stack only to a limited degree, but will nevertheless be made available with examples and documentation in an upcoming release of monad-bayes.

[2022-08-09 17:55] #32 closed, assigned to nobody

[2022-08-09 17:56] #66 closed, assigned to nobody

[2022-08-09 17:56] #80 closed, assigned to nobody

[2022-08-09 17:57] #98 closed, assigned to nobody

[2022-08-09 18:00] reubenharry commented on #130
I experimented with propagators (and separately, concurrent streams) for message passing. I think it's an interesting area, but graphical models and inferences is a whole large topic that monad-bayes doesn't currently support, so I think for now this should be closed.

[2022-08-09 18:00] #130 closed, assigned to nobody

[2022-08-11 09:10] dschrempf commented on #98
That's great!

In the meantime, I have been working on and have been using a separate library [mcmc](https://hackage.haskell.org/package/mcmc). However, it is tailored to MCMC applications, and not to the probabilistic programs such as monad-bayes.

[2022-08-15 17:28] idontgetoutmuch commented on #166
https://github.com/tweag/monad-bayes/pull/168

[2022-08-15 17:28] #166 closed, assigned to nobody

[2022-08-16 05:19] aleeusgr commented on #165
I will work on this too, you're welcome to guide me.

[2022-08-16 08:35] idontgetoutmuch commented on #165
One of my colleagues advised:

[code]

[2022-08-16 08:37] idontgetoutmuch commented on #165
The two flakes are

https://github.com/tweag/monad-bayes/blob/notebooks/flake.nix

and

https://github.com/tweag/monad-bayes/blob/master/flake.nix

With the former you can do

[code]

and with the latter you can do

[code]

and

[code]

[2022-08-16 08:43] idontgetoutmuch commented on #165
@aleeusgr good luck - neither I nor @reubenharry have very high nix fu but we will help as best we can.

[2022-08-16 12:14] aleeusgr commented on #165
@idontgetoutmuch thank you, awesome.
me neither, but I'd love to improve.

You want to have `flake.nix`  in root such that `nix develop` allows running `jupyter-lab` ?

[2022-08-16 13:09] aleeusgr commented on #165
[code]

`jupyter-lab: command not found`

[2022-08-16 13:21] idontgetoutmuch commented on #165
Which branch are you on?

[2022-08-17 08:33] aleeusgr commented on #165
I got both flakes running locally using `git switch -c notebooks origin/notebooks`

`git diff origin/notebooks master -- flake.nix`

hm,

[code]

also:
https://nixos.org/manual/nix/unstable/command-ref/new-cli/nix3-flake.html

from discord:

[2022-08-18 11:26] aleeusgr commented on #165
[code]

[2022-08-18 13:34] idontgetoutmuch commented on #165
Lol - yes you need to be inside the shell that does the pre-commit checks so probably something like `nix develop` with the flake from the main branch should work. EDIT: followed by `git commit ...` inside the shell. This should then run e.g. ormolu to check you are complying with the project standards.

[2022-08-18 13:38] idontgetoutmuch commented on #165
@aleeusgr can you post a link to the discord? We do want a single shell. I'd be interested to find out why the respondent thinks we want two separate shells.

[2022-08-18 13:45] aleeusgr commented on #165
https://discord.com/channels/568306982717751326/790886215532150815/1009699026381324329

Maybe I misrepresented something?

I don't think they think you need two shells, I think their opinion is that providing two shells and then combining them is the way to go.

TBH, for me this is way over my head, I plan to figure out how to compose flake outputs on something small, these two flakes are rather h

[2022-08-18 14:21] idontgetoutmuch commented on #165
That would be my strategy also

[2022-08-19 06:24] aleeusgr commented on #165
Thank you for the opportunity to work on this..
https://github.com/aleeusgr/compose-flakes

[2022-08-21 15:10] turion commented on #144
This would be a really cool addition! Let me know if you need some help!

Tbh that sounds like a fork is needed. At least a fork of the parts that contain the distributions.

[2022-08-21 15:21] turion commented on #16
It seems to me that using `ApplicativeDo` is mainly something a library user can do. All the newtypes derive `Applicative`, so their instances will be used. Other than that it would be interesting to see whether the benchmarks get better if `ApplicativeDo` is applied globally. I can try that if you want.

[2022-08-22 06:14] aleeusgr opened #173 "unable to commit changes to repo fork"
**Describe the bug**
when trying to commit changes to the repo get and error:
` 'pre-commit' not found.  Did you forget to activate your virtualenv?`

**To Reproduce**
fork the repo, clone locally, make changes, add then run
`git commit -m 'message'`

**Expected behavior**
`git commit` should work as expected

**Environment**
 - OS name + version: Linux nixos 5.15.59
 - Version of the code:

**Add

[2022-08-23 13:28] reubenharry commented on #173
I think this is something to do with being in a nix-shell. Have you tried this after doing e.g. nix-shell -p ormolu? You can commit with "--no-verify" if this doesn't work.

[2022-08-23 13:30] reubenharry commented on #165
Thanks so much for the help. Were you able to get this to work for our two flakes?

[2022-08-26 05:29] aleeusgr commented on #165
Not yet, I didn't have an opportunity to dig into the latest advancements:

https://github.com/aleeusgr/compose-flakes/issues/1#issuecomment-1223905303

[2022-08-26 13:53] adamConnerSax commented on #144
Just checking in.  I still want to try to produce Stan code from monad-bayes somehow.  My Stan AST work is fairly operational though pretty sparse in terms of supporting all the math functions and distributions that Stan has.  But that is easy enough to expand.

What is stopping me is that I'm not at all sure if the way monad-bayes represents the model is straightforward enough to "translate" to S

[2022-08-26 16:24] reubenharry commented on #144
@turion Thanks! You can see the somewhat messy branch with the WIP attached to this PR: https://github.com/tweag/monad-bayes/pull/171 You're probably right that a fork would be good. What I did was to use multiparam typeclasses for MonadSample and MonadCond, and then laboriously change to various instances. It wasn't entirely trivial, but I think it roughly works. Look in Control.Monad.Bayes.Class

[2022-08-26 16:40] turion commented on #144
Funny! I've just recently started to toy around with a Haskell frontend to Stan. Uploaded it to github now: https://github.com/turion/mc-stan. An internet search for anything like that didn't turn up much, because unfortunately there already is a tool called `stan` in the Haskell ecosystem, otherwise I would have tried to reuse existing code. But that can still happen.

I think it's not possible t

[2022-08-26 17:07] turion commented on #144
Ah sorry, didn't see your comment while writing this novella :laughing:

Yes, great! I think I would have recommend an associated type instead because the monad will usually determine the type of real numbers, but your version forces every monad to be polymorphic in it. If you do this:

[code]
You can be more expressive that way, because you could also define specific instances like:
[code]

Plus,

[2022-08-26 18:18] adamConnerSax commented on #144
@turion Yep, I also think it's hard to translate monad-bayes to Stan as is.  But maybe there could be a more abstract way of specifying models which could then be implemented as current monad-bayes or Stan? Like a Bayesian-network sort of thing?

BTW, in your Haskell frontend, you mention prior work.  One of those is mine and you are welcome to use it if it's useful. A more current version is here

[2022-08-27 05:45] aleeusgr commented on #173
`--no-verify` worked, thank you.

[2022-08-27 05:45] #173 closed, assigned to nobody

[2022-08-28 17:03] reubenharry commented on #144
@turion Ah, this is an awesome suggestion, and it seems like the way to go. I'll try it out soon. There's an old branch of monad-bayes that does something similar, but not quite the same (see here: https://github.com/tweag/monad-bayes/tree/autodiff), and that branch had actually even implemented HMC. But I found it difficult to understand, and the types were complicated, so I'm inclined to just st

[2022-08-29 09:28] dataopt commented on #144
@reubenharry I have wanted to get a better handle on [algebraic-graphs](https://hackage.haskell.org/package/algebraic-graphs). There are [benchmarking results](https://blog.nyarlathotep.one/2018/07/benchmarking-haskell-graph-libraries/) (from 2018) for a number of Haskell graph libraries.

[2022-08-29 13:18] reubenharry commented on #144
@dataopt Thanks, algebraic-graphs looks like it would be good for the job.

@turion Your suggested refactor worked great! WIP branch is here: https://github.com/tweag/monad-bayes/pull/177

[2022-08-30 07:21] turion commented on #144
Hah, you've guessed my end game! :laughing: Yes, FRP (with sideeffects!) and stochastic processes are a perfect match, and the ProbZelus people are exactly right in pursuing this path. (It seems that it is my fate to always reimplement in Haskell everything that Marc Pouzet works on.) I'll open a separate issue if you want to discuss this and share some ideas.

[2022-08-30 11:00] dataopt commented on #144
@turion The topic sounds interesting! I would love to follow along a discussion on it.

[2022-08-30 12:07] reubenharry commented on #144
@turion Oh, excellent! Yes, please do :) I am also very interested in this, and would love to help.

[2022-08-30 12:11] idontgetoutmuch commented on #144
@turion I am sure you are aware that you need to be a bit careful with FRP - for example, I think the package I used was using RK4 so that if you e.g. model planetary motion then energy is not conserved and the planets either spiral into the sun or fly off into the void. Maybe what you are working on allows the user to have more control over the numerical method?

[2022-08-30 12:28] reubenharry commented on #144
@idontgetoutmuch To clarify, I believe this is FRP not for symplectic integration or anything to do with HMC, but for real-time inference, along the lines of https://arxiv.org/abs/1908.07563 . But yes, let's discuss on a separate issue

[2022-08-30 19:20] turion opened #180 "SMC2 not exported, thus not really usable?"
Looking at https://hackage.haskell.org/package/monad-bayes-0.1.1.0/docs/Control-Monad-Bayes-Inference-SMC2.html, it seems that to use this inference method, I have to supply a function of type `b -> S (P (SMC2 m)) a`, but the type `SMC2` and its constructors are not exported. It seems to me that this is thus not usable.

[2022-08-31 00:12] reubenharry commented on #180
Ah, but `SMC2` is a `MonadSample` instance. Here's an example from the tests of how to run `smc2`:

[code]

The whole idea of monad-bayes is that you write programs of type `MonadInfer m => m X`, which various different inference algorithms then specialize. In this case, you are supplying a `MonadSample m => m Double` and a `MonadSample m => Double -> m Double`, rather than anything concretely in

[2022-08-31 06:38] aleeusgr commented on #173
I could reproduce the issue by adding pre-commits to flake output. Maybe it happens because pre-commit-hooks are in ~ but not in current repo?
I've no idea,

[2022-08-31 09:27] aleeusgr commented on #165
I reached a milestone:
a flake.nix that has two devShells in two sub-flakes and merges them into the main one.

next I will add notebooks flake to the inputs, reference it in the outputs and add the reference to inputsFrom for the devShell in flake.nix in the main

[2022-08-31 15:03] turion commented on #180
Ah, ok. It's still hard to discover this fact, because since the type `SMC2` is not exported, its haddocks are not displayed on hackage, so one cannot know that `MonadSample SMC2`.

[2022-08-31 15:08] turion opened #181 "Tutorials and hackage released versions are out of sync"
The page https://monad-bayes-site.netlify.app/smc uses the function `mvNormal` which exists on `master`, but not in the currently released version 0.1.1.0, see https://hackage.haskell.org/package/monad-bayes-0.1.1.0/docs/Control-Monad-Bayes-Class.html.

[2022-08-31 15:47] reubenharry commented on #180
Ah, that's a good point. To be honest, SMC2 was complicated enough that I didn't get to the point of making documentation or examples for it, as I did with the others. But I agree that's a problem - let me see if I can find a good solution, maybe by adding comments to the hackage docs

[2022-08-31 15:50] reubenharry commented on #181
Thanks for noting this - yes, there is a lag at the moment. I have the updated versions on branch, which I'll get @idontgetoutmuch to review and then hopefully in the next week, we'll merge it and push version 1.0.0 of monad-bayes to hackage. Along with that, I'll push the website and docs to the main branch, so everything is consolidated. Once that's done, the ground should be clear to work on mo

[2022-08-31 17:00] dataopt commented on #181
Version 1.0.0 released in September? That'll be awesome!

[2022-08-31 19:47] reubenharry commented on #181
To be fair, it's pretty much what's in the repo now (plus better histogram handling, and the website and docs), but we'll push it to hackage so it's easy to access.

[2022-09-01 06:33] turion commented on #180
How about exporting the type `SMC2` without exporting the constructor? Then people can only create values of type `SMC2 a` by using its instances, but its haddocks are there.

[2022-09-01 06:33] turion commented on #180
Plus, it appears on the hoogle and hackage searches!

[2022-09-01 07:12] turion opened #183 "Idea sketch: FRP and sequential inference"
[Recently](https://github.com/tweag/monad-bayes/issues/144#issuecomment-1229508593) @reubenharry asked whether it makes sense to combine Functional Reactive Programming (FRP), stochastic processes, and real-time inference:

And yes, I believe this makes sense. I want to try and explain the correspondence between sequential inference and arrowized FRP with effects as embodied by [`dunai`/`bearriver

[2022-09-01 07:18] turion opened #184 "Why use Lists for streams in the lazy sampler?"
Just a small nitpick. Wouldn't it be clearer to use a stream type in the definition of trees?

[code]

Otherwise, it is too easy to mistake the `Tree` for a [rose tree](https://en.wikipedia.org/wiki/Rose_tree).

If you're interested, I can send a PR for this.

[2022-09-01 09:02] idontgetoutmuch commented on #183
I just wanted to add some of my thinking (which you may already have mentioned but I didn't notice).

I think of a probabilistic program as a stochastic process (if we confine ourselves to programs that sample from a fixed number of times).

Sequential Monte Carlo is a Markov process in which the the paths are modified by a potential function given by the data. This is really close to a program be

[2022-09-01 12:26] reubenharry commented on #184
That seems reasonable. Two things to note:
1. I copied the lazy sampler pretty much wholesale from [LazyPPL](https://lazyppl.bitbucket.io/) (with their permission). I was cautious to make changes I wasn't certain were semantics preserving, because I didn't fully understand how it worked. So if you're confident in the change, I'm definitely in favour and happy to review a PR

[2022-09-01 20:09] reubenharry commented on #183
Thanks for writing this up! I'll read through it more carefully soon and respond in more detail with my ideas/plans (I have been moving this week, so things are a bit chaotic). But basically, I have been thinking on very similar lines! A few things that may or may not be relevant:

- on a local branch (which I can push) I tried implementing "live" inference using `pipes` and/or `streamly`. The ide

[2022-09-01 22:38] reubenharry commented on #180
Excellent idea, let me do that!

[2022-09-01 23:22] reubenharry commented on #183
So in my own attempts to write a pipes based version of a similar idea, I ended up with the type

[code]

For example, I was trying to write a system which would receive a stream of `Bool`s, each of which was known to be generated from some distribution P(b| latent), and live infer `latent` using SMC. Given some predicate on the expectation of the posterior over `latent`, I would perform some IO a

[2022-09-02 07:45] aleeusgr commented on #165
added
`jf.url = "github:tweag/monad-bayes?ref=notebooks"; ` to inputs section
result:
`nix develop` gets error:
[json.exception.parse_error.101] parse error at line 242, column 1: syntax error while parsing object key - invalid literal; last read: '"locked": {<U+000A><'; expected string literal

[2022-09-04 05:09] aleeusgr commented on #165
the lockfile is broken, it contains merge conflict markers https://github.com/tweag/monad-bayes/blob/notebooks/flake.lock#L242

[2022-09-04 06:56] aleeusgr commented on #165
hm
I changed the reference to my fork and and in my fork's notebooks branch I have a clean flake.lock

I wonder why I get the same error..

solved: renamed the function call (I think collecting garbage and re-downloading dependencies will do the same)

[2022-09-06 05:54] aleeusgr commented on #165
added some code, main compiles
[code]

however `jupyter-lab` returns _command not found_;

maybe I should reference https://github.com/aleeusgr/monad-bayes/blob/notebooks/flake.nix#L109 ?

[2022-09-06 18:40] reubenharry commented on #180
Resolved

[2022-09-06 18:40] #180 closed, assigned to nobody

[2022-09-07 05:24] aleeusgr commented on #165
https://nixos.org/manual/nixpkgs/stable/
[code]

ok, this works.
now to clean, merge and create a pull request

[2022-09-07 06:23] aleeusgr commented on #165
@idontgetoutmuch thank you for the idea and your guidance!
https://github.com/tweag/monad-bayes/pull/187

[2022-09-08 18:31] reubenharry commented on #165
@aleeusgr Thanks so much for working on this - it's extremely helpful

[2022-09-08 18:31] #165 closed, assigned to nobody

[2022-09-09 08:13] aleeusgr commented on #165
Ur welcome.
Looking forward to learning more about probabilistic programming with you!

[2022-09-09 14:03] turion commented on #183
Awesome :) I think we'll arrive at something cool in the end.

Yes, arrowized FRP was designed partly to deal with some classes of leaks. One reason I don't like `streamly` a lot is because it is easy to run into leaks when trying to work with the internals. I guess with `pipes` one should be able to get something to work, but I haven't looked into it.

The libraries I usually work with _are_ basi

[2022-09-09 14:09] turion commented on #183
See https://github.com/turion/dunai-bayes and https://github.com/turion/rhine/tree/dev_monad_bayes for work in progress

[2022-09-10 19:15] reubenharry commented on #183
This is really great, way cooler than my pipes attempt. I'm reading through your code and in general it makes sense, but here are some things that are currently confusing me:

- Is there a way I can get this up and running locally? I would love to play around with it. Git cloning dunai-bayes and doing `cabal repl` (is that the right command? I'm used to stack) gave "Could not resolve dependencies"

[2022-09-10 19:42] reubenharry commented on #183
Yes, it does.

Re normalization, are you just saying that the absolute values of the weights in the population become too small? That confuses me, because in `resampleGeneric`, the weights get normalized automatically. So I think maybe I'm misunderstanding.

Yep, because a particle is in fact a distribution over continuations of the program, whose fate depends on the stochastic choices made at eac

[2022-09-10 19:51] reubenharry commented on #183
(I'll keep posting questions as I come up with them)

To make sure I'm understanding, wouldn't that be true in particular when `a` is `()`. I would have thought `MSF m a b` would be a map from one stochastic process to another. Or am I getting that wrong?

[2022-09-10 20:13] reubenharry commented on #183
Can we write `runPopulationCl'` using `morphGS`?

[2022-09-10 23:13] reubenharry commented on #183
By the way, the sort of application I have in mind here (and it seems like you're not that far off), is a GUI app where a user can produce observations live (e.g. by clicking points on the screen) and the system will update its posterior in real-time. One could even imagine changing the population size or resampling rate live.

[2022-09-11 17:07] reubenharry commented on #183
Yet another question: is there an easy way using rhine to get the current time as a signal? (I read your paper on Rhine btw, and it seems very cool). It would be cool to define a Gaussian process by just expressing the jump to the next state after time `t` as a Gaussian parametrized by `t` (I mainly ask this because I have always found stochastic processes confusing, and writing them this way woul

[2022-09-13 10:30] turion commented on #183
Yes, that's the right way. But you need to make sure that `rhine` has a `cabal.project.local` where you specify `packages: path/to/dunai-bayes/dunai-bayes.cabal`.

No, `dunai-bayes` imports from `dunai` and `monad-bayes`.

I had `Sequential` in there at first because I thought I might be able to reuse the `sis` etc. functions. Now its only advantage is that it does a suspension every time we use `

[2022-09-13 12:34] idontgetoutmuch commented on #144
Is there a branch for any of the HMC work anywhere? @mknorps and I are going to take a look at this but we don't want to re-invent any wheels.

[2022-09-13 13:42] reubenharry opened #189 "T in the transformer names"
Sequential -> SequentialT
Traced -> TracedT
Population -> PopulationT
run[X] -> run[X]T

This helps Haskellers understand what is going on better.
[code]

[2022-09-13 13:42] reubenharry opened #190 "DerivingVia"
Use DerivingVia to avoid repetition of lifting instances in Class.hs.

[2022-09-13 13:44] reubenharry opened #191 "Generalize from Double"
Use type families in type classes to move from Double to an instance dependent number type. (Seems to work, just needs to be polished.)

[2022-09-13 14:19] reubenharry opened #192 "MMorph to replace `hoist`"
`hoist` looks like it should subsumed by `MMorph`. (I recall problems with this previously but will try again)

[2022-09-13 14:45] reubenharry commented on #183
I've made an issue, and will try when free.

Also made an issue.

I think that's intentional. I also found this confusing, but I think the point is to keep the weights from exploding/vanishing. I'm pretty sure it's correct, but we should try to work out why you have to normalize to make things work. Once I understand the FRP code more, I can hopefully work that out.

I've never used the arrow nota

[2022-09-14 02:24] reubenharry commented on #192
Here's the problem I'm having with using MMorph:

In `Population.hs`, `hoist` has type

[code]

But in MFunctor, it has type

[code]

[2022-09-14 03:03] reubenharry commented on #190
Got a bit of a scary bug:

[code]

"
/Users/reubencohn-gordon/Dropbox/Reuben/Programming/monad-bayes/src/Control/Monad/Bayes/Class.hs:359:40: error:ghc-9.2.2: panic! (the 'impossible' happened)
  (GHC version 9.2.2:
        No skolem info:
  [k_aY7N]
  Call stack:
      CallStack (from HasCallStack):
        callStackDoc, called at compiler/GHC/Utils/Panic.hs:181:37 in ghc:GHC.Utils.Panic

[2022-09-15 13:42] aleeusgr commented on #189
I'd love to help, but this does not make sense to me.

If you'd shared a doc on what is "transformer", how to find them in the code, I'd think of this as a task I could do.

Thanks.

[2022-09-15 21:03] reubenharry commented on #189
Hi. Sure, I can clarify!

How familiar are you with Haskell? If not, it's actually ok for this one, because basically what I'm suggesting is just a renaming, as follows:

Everywhere "Sequential" appears in the code, we replace it with "SequentialT". So the type `Sequential` becomes `SequentialT`, the constructor `Sequential` also becomes `SequentialT` and `runSequential` becomes `runSequentialT`.

[2022-09-16 06:50] aleeusgr commented on #189
I'm ok with Haskell, not a brightest of minds but I'm learning:)
there's only four of them?
Ok, search and replace, on it.

`grep -rnw -e 'Sequential' --include \*.hs`

[2022-09-16 09:04] aleeusgr commented on #189
`find . -type f -exec sed -i 's/Sequential/SequentialT/g' {} \;`

https://stackoverflow.com/questions/15402770/how-to-search-and-replace-using-grep

Hm, It breaks git repo...

`find ./*.hs -type f -exec sed -i 's/Sequential/SequentialT/g' {} \;` ??

[2022-09-16 15:19] idontgetoutmuch opened #194 "Why do we have two functions called `mh`"
**Describe the bug**

Why do we have two functions called `mh`

https://github.com/tweag/monad-bayes/blob/notebooks/src/Control/Monad/Bayes/Traced/Static.hs#L87
https://github.com/tweag/monad-bayes/blob/notebooks/src/Control/Monad/Bayes/Inference/Lazy/MH.hs#L20

[2022-09-16 18:12] reubenharry commented on #194
Lazy vs Strict. Different modules. If you prefer, we can call the second mhLazy, but I prefer not proliferating names without good reason.

[2022-09-16 18:13] reubenharry commented on #194
You'll notice we actually have 4 `mh` functions in total, all in separate modules.

[2022-09-18 06:06] aleeusgr commented on #189
`find . -name "*.hs" -type f -exec sed -i 's/<oldname>/<newname>/g' {} \;`

also not to forget to rename .hs files and tests; update monad-bayes.cabal

[2022-09-18 06:40] aleeusgr commented on #189
@reubenharry created a PR

[2022-09-19 10:26] idontgetoutmuch commented on #194
I suppose it was one of them having a different type that confused me

[code]

[2022-09-19 21:56] reubenharry commented on #194
Yes, that's a fair point. The lazy one is sort of a different algorithm, so I now agree it could be renamed. Perhaps to `mcmc` or `lazyMCMC`.

[2022-09-23 21:10] reubenharry opened #197 "Renaming `MonadSample` and `MonadInfer`"
I'm not a huge fan of the names `MonadSample` and `MonadInfer`. On the one hand, it's nice to keep aligned with the original paper. But on the other, they're a little misleading. `MonadSample` isn't inherently about sampling.

I'd proposed the names `MonadDistribution` and `MonadMeasure` respectively.

The downsides of these are:

- slightly longer

Finally I'd replace `MonadCond` with `MonadFacto

[2022-09-26 17:51] turion commented on #194
All those having the same type could be joined in a type class, possibly.

[2022-09-26 20:15] reubenharry commented on #194
I thought that, but my attempt to do so led me to think that type families would have to be involved. Would be happy to be proven wrong.

[2022-10-04 08:51] mknorps commented on #197
I the library there is already a more informative type signatures for some of the use cases (see [HERE](https://github.com/tweag/monad-bayes/blob/436eb3f7864d1026e23245dec7c94aebb439e5a5/src/Control/Monad/Bayes/Class.hs#L258)):
[code]
Do you find adding `Monad` prefix more Haskelly? Another option to go with the Haskell style is adding a suffix `M` indicating we are in a monadic context.
Then we w

[2022-10-04 14:05] reubenharry commented on #197
That's true - I added `Distribution` etc in Class.hs, but they're a bit restrictive because you can't write e.g. `a -> Distribution b` for a conditional distribution, and instead have to use `Kernel`.

I think for typeclasses, the convention is `MonadX`, as in `MonadReader`, `MonadState`, etc, but for functions, it's `xM`.

[2022-10-05 08:37] mknorps commented on #197
You are right @reubenharry! I found a summary on [Kowainik blog](https://kowainik.github.io/posts/naming-conventions). As for adding `Monad` prefix for typeclasses it is used when a typeclass has mtl style effects, so all is good.

[2022-10-05 08:54] mknorps opened #203 "Take version of `monad-bayes` package in the documentation as a variable"
Can version of the documentation be taken as a variable? It would be a one less thing to remember when we bump the version.

_Originally posted by @mknorps in https://github.com/tweag/monad-bayes/pull/179#discussion_r977437085_

Also a check documentation if there other appearances of the version number.

[2022-10-05 09:07] idontgetoutmuch commented on #203
I used to version the documentation for a big project with the git commit hash. Maybe we can add a tag (a good idea anyway) with the release version and then the docs can pick this up?

[2022-10-10 09:10] idontgetoutmuch opened #208 "Docs still mention sprinkler"
We replaced the example from the seminal paper, `sprinkler`, with linear regression on the basis that a statistician or data scientist would find that easier. The docs still mention `sprinkler`. I think we should put it back in but as an additional example still leaving linear regression as the first example people see but with some better explanation about how the probabilities are derived.

[2022-10-12 08:44] turion commented on #194
type families shouldn't be necessary. But there is some design space as to whether you want the type class to apply to each `Traced` monad transformer or to the `Traced m` monad. I think it's more usual to do the latter, but then one can't write down the current type signature of `mh`. (`mhStep` is fine though.)

[2022-10-12 08:54] turion opened #209 "Why reimplement Functor, Applicative, Monad instances for known transformers?"
Many monads defined in monad-bayes are known transformers. For example:

[code]
This is isomorphic to:
[code]
The advantage is that one gets correct and efficient `Functor`, `Monad`,... instances that way, and saves code. (It's notoriously difficult to get a performant `Writer`, so it's a good idea to use existing code instead of reimplementing it.)

Similarly:
[code]
This is the same as promoting

[2022-10-12 08:56] mknorps opened #210 "Notebooks detailed checks"
To finish #179,  we split the detailed check work of notebooks to a separate issue.

We want tutorials and examples to be:
- easy to run
- run without failure and correctly
- describe their subject clearly
- coherent with the web html renderings
and this issue is to ensure that.

Tutorials:
- [x]  Advanced sampling https://github.com/tweag/monad-bayes/pull/226
- [x] Bayesian https://github.com/twe

[2022-10-12 09:11] turion commented on #192
That's a sign that `hoist` here isn't actually the simplest function it could be. You're using `fromWeightedList` which incurs this constraint, but that function does too much. You should instead compose the more straightforward `hoist` functions for `ListT` and `StateT`. The only issue remaining that I can see is that [your `ListT` is long deprecated and thus not an instance of `MFunctor` anymore

[2022-10-12 10:40] turion opened #212 "Lazy sampler is not a monad?"
Is the lazy sampler actually a monad? I believe it doesn't satisfy the monad laws:

[code]
Even worse, it's not even a functor with `liftM`:
[code]
This is because depending on how we construct the program, the random number generator gets split or not. But this is not coassociative (there are no nontrivial comonoids in Haskell) and thus the monad laws don't hold.

[2022-10-12 18:46] reubenharry commented on #212
This sounds like an issue to take up with Sam Staton and his students - this code comes from their work on LazyPPL, and since they're into denotational semantics, this seems like a thing they'd care about. I've previously been in touch with them, so definitely something we could just ask them.

[2022-10-12 18:49] reubenharry commented on #192
That all sounds sensible. We'd just have to make sure that the new semantics of `hoist` is right, since it is critical for the inference algorithms (see for instance its use in Inference/PMMH).

[2022-10-12 18:51] reubenharry commented on #209
Highly in favour of this refactor!

[2022-10-12 19:15] reubenharry opened #213 "Incorporating Dunai-Bayes"
I'm wondering if, since [dunai-bayes](https://github.com/turion/dunai-bayes) is so small, it would work to have it as part of monad-bayes. (Certainly rhine-bayes should remain separate though).

Cons:
- new dependency: dunai
- not necessary to stick all things together in one library

Pros:
- conceptual coherence: all Bayesian inference algorithms in one library, monad-bayes then able to express s

[2022-10-12 19:23] reubenharry commented on #47
@vincent-hui Very belatedly: https://github.com/turion/rhine/tree/dev_monad_bayes/rhine-bayes can do Gaussian processes. It's under construction, and will probably be a separate library that imports monad-bayes. See https://github.com/reubenharry/rhine-bayes-examples#readme for explanation.

I'll now close this issue

[2022-10-12 19:23] #47 closed, assigned to nobody

[2022-10-12 19:24] reubenharry commented on #16
Did they?

[2022-10-12 19:25] reubenharry commented on #125
Closing this, as there is a new better todo list issue, and this is mostly done.

[2022-10-12 19:25] #125 closed, assigned to nobody

[2022-10-12 19:27] #104 closed, assigned to nobody

[2022-10-12 19:30] reubenharry commented on #121
Closing this. Gen style customizability is available in the code fragment accompanying https://dl.acm.org/doi/10.1145/3371087. Building it out to be practical is a large scale effort that I at least am not going to be doing.

[2022-10-12 19:30] #121 closed, assigned to nobody

[2022-10-12 19:32] #129 closed, assigned to nobody

[2022-10-12 19:35] reubenharry commented on #183
OK, closing this issue as activity is happening in dunai-bayes and rhine-bayes (see above for links). tldr: combining reactive and probabilistic programming is a great idea, and works.

[2022-10-12 19:35] #183 closed, assigned to nobody

[2022-10-14 11:09] idontgetoutmuch opened #216 "Using a Different Proposal Distribution"
I have some mysterious results from monad-bayes. The MCMC sampler in monad-bayes ignores where you are and selects new sample by applying the inverse CDF to a sample from [0,1] and then applies the usual MCMC acceptance method.
Now I was surprised that this converges in a reasonable number of steps but it certainly does for a linear regression model on one variable (so with 3 parameters: slope, cu

[2022-10-14 11:10] idontgetoutmuch commented on #216
![image](https://user-images.githubusercontent.com/1550265/195833148-36397f89-ef8a-4fc5-9fdf-878d288d685e.png)

![image](https://user-images.githubusercontent.com/1550265/195833196-fdfe89e1-825d-4fa8-b1b5-dbe29dc12240.png)

[2022-10-14 12:43] reubenharry commented on #216
Can you give the full code you're using to generate each dataset? (no need to include the histogram-making code)

[2022-10-14 13:35] reubenharry commented on #216
(Summarising non-github discussion in case anyone else is interested): this change to the kernel requires accompanying changes to the MH ratio, in particular with respect to q. Gen is at the forefront of automating this sort of thing, afaik

[2022-10-14 13:36] #216 closed, assigned to nobody

[2022-10-16 18:38] #184 closed, assigned to nobody

[2022-10-18 08:28] turion commented on #16
Inconclusive. Some benchmarks get faster, some slower. There is no big improvement on either side. So I guess it's a harmless change to enable it by default, but it doesn't magically make everything faster. I wonder what the reasoning was why it should be faster now.

# `master` e491fc49efbbe76e27d971d40907735f966523cb

[master.txt](https://github.com/tweag/monad-bayes/files/9802742/master.txt)

I

[2022-10-18 08:30] turion commented on #16
@adscib I can't find that claim. Can you point me to it?

Maybe we're forcing some functions to use the monad in some places (e.g. when defining `<*> = ap`).

[2022-10-18 14:59] lukego opened #218 "Slow compilation (hours) with "nix develop""
**Describe the bug**
Starting a development environment with `nix develop` takes a long time (hours.)

I am not an experienced Haskell programmer but I suspect that this is unexpected.

**To Reproduce**
Run `nix develop` in top level of repo on a NixOS machine.

Answer affirmative when offered binary caches.

**Expected behavior**
Open a development environment in minutes by downloading cached bin

[2022-10-18 15:36] reubenharry commented on #16
Yeah, I couldn't find the mention either. Not entirely sure which monads would benefit here. (Maybe Traced, or if we had a parallel Population?)

[2022-10-18 17:04] idontgetoutmuch commented on #218
This is saying it's not going to use the cache

[code]

What I don't know is why.

[2022-10-18 17:10] idontgetoutmuch commented on #218
Can you look in `/etc/nix` and see what you have? You should have something like

[code]

For this to take effect, I am pretty sure you have to stop and restart the nix daemon.

[2022-10-18 17:34] lukego commented on #218
@idontgetoutmuch Thanks! I didn't realize that I needed to be in `trusted-users`. This seems to have gotten the cache working :+1:

[2022-10-18 17:34] #218 closed, assigned to nobody

[2022-10-18 19:28] adscib commented on #16
I don't see it there either, but based on time stamps it looks like I was referring to a preprint of what is now the published version, so maybe they removed it. In any case, it was an off-hand remark, probably made because a lot of probabilistic programming people at the time were advocating for tracking conditional independencies to improve inference. Since then, I think the community largely mo

[2022-10-19 13:04] #197 closed, assigned to nobody

[2022-10-19 15:50] purcell commented on #218
Fwiw, I _think_ (or would hope) that `cachix use ....` would either update the nix conf accordingly, or flag that further changes might be required.

[2022-10-20 12:02] reubenharry commented on #127
@idontgetoutmuch The one last thing I'd like to do here is to have a link on hackage to the website or the github repo, so that it's clear that's the place to go for a readme. I'm not experienced with Haddocks - do you know where I'd put that info so it appears on the front page of the docs on hackage?

[2022-10-20 13:50] idontgetoutmuch commented on #127
How does this look? https://hackage.haskell.org/package/monad-bayes-1.1.0/candidate

[2022-10-20 13:52] idontgetoutmuch opened #221 "1.0.0 does not build on hackage"
@reubenharry can you take a look? https://hackage.haskell.org/package/monad-bayes-1.0.0/reports/1

[2022-10-20 15:57] reubenharry commented on #127
Perfect! (There's only quotation mark that I think is a typo)

[2022-10-20 15:57] #127 closed, assigned to nobody

[2022-10-21 06:50] dschrempf commented on #144
Hi!

I wanted to chime in here, not sure if it is the right place. I was trying to use `monad-bayes` in the past, and I loved the separation of probabilistic inference and the declaration of the model. However, the probabilistic inference part was too hidden, and it was impossible to actually infer things, because either the computation took too long, or the out-of-the-shelf methods did not succee

[2022-10-21 22:59] reubenharry commented on #144
Hi @dschrempf, great to hear from you! What you're saying makes a lot of sense, and I agree. To my knowledge, Gen is the probabilistic programming language with the most support for customizable MCMC proposals for arbitrary probabilistic programs. I think the best approach for monad-bayes in the long run is to borrow from Gen, and if I had more time, that's what I'd work on (see e.g. https://githu

[2022-10-26 08:50] turion opened #224 "Partial exact inference, inspired by "Delayed Sampling and Automatic Rao–Blackwellization of Probabilistic Programs" and ProbZelus"
While reading through the ProbZelus paper, I became aware that there are techniques to do partial exact inference in Bayesian networks, using conjugate priors. This is described e.g. in https://arxiv.org/pdf/1708.07787.pdf, and the algorithm is improved in the ProbZelus paper. I believe that after #177, something similar can be implemented here. Basically, we would need a way to specify a Bayesian

[2022-10-26 09:05] turion commented on #213
I'd argue against this on a package level. The dependency argument is a very heavy one. But also architecturally, I believe it's not ideal to pin down dunai as the reference implementation of monadic stream functions. For example there is https://github.com/psg-mit/probzelus-haskell, https://github.com/turion/essence-of-live-coding, https://hackage.haskell.org/package/netwire, pipes, and many infe

[2022-10-26 20:43] reubenharry commented on #213
Thanks for this reply! That all seems convincing to me against merging the packages. My main incentive for merging the repos is that I'd then feel slightly happier using the current docs template in monad-bayes to add docs for dunai-bayes (since it would be easier to remember to update the docs when changing dunai-bayes), but then again, there's also rhine-bayes to consider.

Am I right in thinkin

[2022-10-26 20:55] reubenharry commented on #221
Was the recent PR meant to fix this?

[2022-10-26 21:09] reubenharry commented on #224
Ah, I share your interest in investigating this. I'll have a read of the paper too. I've also thought about doing what I suggest above, but have never thought through the details.

I have four very general thoughts that are not totally related, but here seems like a place to put them:

1. Have you seen https://arxiv.org/pdf/2112.13251.pdf? This seems like a thing you might find interesting, that i

[2022-10-27 07:49] turion commented on #213
Let's merge the repos monad-bayes and dunai-bayes then, and think about rhine-bayes later. I think rhine brings too many new concepts to be merged into the same documentation. I think it's a good idea to explain dunai-bayes as "monad-bayes with dunai added", and rhine-bayes as "rhine with dunai-bayes added". But we'll see in the future when we have more material :)

This `MStream` (which is isomor

[2022-11-05 09:24] vkleen commented on #221
I think this happens because `monad-bayes` is not specifying version bounds on `brick`. The 1.0 release of `brick` makes breaking changes to the `EventM` interface. Porting to this new version turns out to be pretty straightforward though; I've made PR #229 specifying `brick` versions between 1.0 and a future 2.0.

Alternatively, specifying a version upper bound of `<= 0.73` on `brick` should also

[2022-11-06 09:26] idontgetoutmuch commented on #124
I have experimented with https://research-information.bris.ac.uk/ws/portalfiles/portal/262220394/2012.14881v1.pdf

So here is algorithm 1

https://github.com/tweag/monad-bayes/blob/Generalising-the-sampler/src/Control/Monad/Bayes/Traced/Common.hs#L126

I modified it slightly

https://github.com/tweag/monad-bayes/blob/Generalising-the-sampler/src/Control/Monad/Bayes/Traced/Common.hs#L137

Here's th

[2022-11-09 13:08] #221 closed, assigned to nobody

[2022-11-09 13:09] #194 closed, assigned to nobody

[2022-11-09 13:12] reubenharry opened #230 "tasty-bench for benchmarks"
Benchmarking performance is pretty important for monad-bayes (for example, I have thrown out attempted refactorings based on worse benchmark performance). However, I found criterion pretty hard to use, and the workflow for comparing to previous bench results was not great (probably in part because of lack of knowledge). I just watched https://www.youtube.com/watch?v=EHVz5j1gYkk&list=PLBqWQH1MiwBTw

[2022-11-09 14:26] idontgetoutmuch commented on #221
@reubenharry thanks for remembering to close this - the version on hackage now builds (thanks to @vkleen)

[2022-11-14 12:53] idontgetoutmuch commented on #144
[NaiveSampling.pdf](https://github.com/tweag/monad-bayes/files/10003109/NaiveSampling.pdf)

See here for the source: https://github.com/tweag/monad-bayes/tree/Generalising-the-sampler. You can run the entire document by

[code]

You can generate the document by

[code]

You might need to do `bibtex naiveSampling` also.

[2022-11-22 09:51] turion opened #233 "Version 1.1.0 doesn't build?"
**Describe the bug**
When building via nixpkgs, I'm getting:
[code]

**Environment**
 - OS name + version: nixos-unstable

[2022-11-24 10:14] turion commented on #233
Apologies, the problem is on the nixpkgs side.

[2022-11-24 10:14] #233 closed, assigned to nobody